.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.show-scrollbar::-webkit-scrollbar {
  -ms-overflow-style: none;
  width: 5px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.show-scrollbar::-webkit-scrollbar {
  -ms-overflow-style: none;
  width: 5px;
}

.show-scrollbar::-webkit-scrollbar-thumb {
  background-color: #fff;
  height: 15px !important;
  border-radius: 10px;
}

.Toastify__toast {
  background-color: #1a1a1a !important;
  color: #ffffff !important;
  border-radius: 40px !important;
  height: 40px !important;
  border: 0.5px solid #f63d4a40;
  margin-top: 5px;
}

.Toastify__toast--success {
  background-color: #0a0a0a !important;
}

.Toastify__toast--error {
  background-color: #0a0a0a !important;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #ffde59;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input[type="radio"]:checked {
  border-color: #ffde59;
  background-color: #0a0a0a;
}

input[type="radio"]:checked {
  border-color: var(--radio-checked-border, #ffde59);
  background-color: var(--radio-bg, #0a0a0a);
}
*/ input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="radio"]:checked::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #ffde59;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

