@import "tailwindcss";

body {
  margin: 0;
  background-color: #000000;
  color: white;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #ffde59;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input[type="radio"]:checked {
  border-color: #ffde59;
  background-color: #0a0a0a;
}

input[type="radio"]:checked::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #ffde59;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
